.completed {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 20px;
  gap: 5px;
}
.container button {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: #2d646d;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.container button:hover {
  color: black;
}

.container button:after {
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.container button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.red {
  color: rgb(230, 80, 80);
}
.green {
  color: rgb(78, 206, 78);
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
