.container {
  background-color: #2d646d;
  color: #fff;
  padding: 20px;
  line-height: 2;
  margin-top: 20px;
}
.container,
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.banner .btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin: 30px 0;
}
.btns button {
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 30px;
  color: #2d646d;
  text-transform: uppercase;
  cursor: pointer;
}
.btns button:first-child {
  background-color: #f6775a;
}
.btns button:last-child {
  background-color: #fff;
}
.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}
.footerContainer div ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerContainer div ul li {
  list-style: none;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footerContainer div ul li::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #f6775a;
  transition: 0.5s ease-in-out;
}

.footerContainer div ul li:hover::after {
  width: 100%;
}
.footerContainer div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.footerContainer h1 {
  color: #fff;
}
.footerContainer h1 span {
  color: #10b3af;
}
@media (max-width: 674px) {
  .banner .btns,
  .footerContainer div {
    flex-direction: column;
    align-items: flex-start;
  }
}
