.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.header {
  padding: 50px 50px 0 50px;
}
.header h1 {
  margin: 10px 0;
  text-transform: capitalize;
}
.header p {
  font-weight: 300;
}
.container label {
  font-size: 20px;
}
.container input,
.container textarea {
  padding: 12px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 16px;
  background-color: #eeeded;
}
.container select {
  padding: 12px 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #2d646d;
  appearance: none;
  width: 100%;
  font-size: 16px;
  text-shadow: none;
  background-color: #eeeded;
  cursor: pointer;
}

.scroll {
  background-color: #f6775a;
  height: 8px;
  border-radius: 0 10px 10px 0;
}
.displayPicture {
  padding: 50px 80px;
  line-height: 2;
  transition: 0.5 ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select,
.display {
  position: relative;
  background-color: #10b3af;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  object-fit: cover;
}
.user {
  width: 120px;
  height: 120px;
}
.add {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #e3e3e3;
  padding: 10px;
  font-size: 30px;
  border-radius: 50%;
}

.freelanceDetails {
  padding: 50px 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.freelanceDetails div:not(.btns) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.container button {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: #2d646d;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.container button:hover {
  color: black;
}

.container button:after {
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.container button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btns button:first-child {
  background-color: #1e1e1e;
}

.hourlyLabel input {
  display: none;
}

.hourlyLabel {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #2196f300;
  border-radius: 0.25em;
  transition: all 0.25s;
}

.hourlyLabel input:checked ~ .checkmark {
  background-color: #2d646d;
}

.checkmark:after {
  content: '';
  position: absolute;
  transform: rotate(0deg);
  border: 0.1em solid black;
  left: 0;
  top: 0;
  width: 1.05em;
  height: 1.05em;
  border-radius: 0.25em;
  transition: all 0.25s, border-width 0.1s;
}

.hourlyLabel input:checked ~ .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border-color: #fff0 white white #fff0;
  border-width: 0 0.15em 0.15em 0;
  border-radius: 0em;
  transform: rotate(45deg);
}
.currencyContainer {
  display: flex;
  margin: 10px;
}
.displayedSkillsContainer {
  display: flex;
  flex-direction: row !important;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: wrap;
}
.displayedSkills {
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
  background-color: #e3e3e3;
  border-radius: 10px;
  padding: 5px 10px;
}
.close {
  cursor: pointer;
}

.summary {
  align-items: center !important;
  text-transform: capitalize;
  gap: 10px;
}
.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 80px;
}
.optionsContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
.optionsContainer div button {
  background-color: #f6775a;
  width: 100%;
}
.optionsContainer .iconContainer {
  background-color: #10b3b051;
  padding: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.optionsContainer .iconContainer .icon {
  font-size: 40px;
}
@media (max-width: 900px) {
  .optionsContainer {
    flex-direction: column;
  }
}
