.container {
  padding: 20px;

}
.header {
  padding: 20px;
  color: #2d646d;
  font-size: 30px;
 z-index: 1;
 background-color: #f4f4f4;
 width: 100%;
 margin: 10px 0;
 border-radius: 10px;
}
.header label {
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.selected {
  color: #10b3af;
  font-weight: 800;
  transition: color 0.5 ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header label:after {
  content: '';
  width: 0;
  height: 5px;
  background-color: #10b3af;
  transition: 0.5 ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  border-radius: 10px;
}
#label:checked ~ .selected::after {
  width: 100%;
}
#label:checked ~ .selected::after {
  width: 100%;
}
#label1:checked ~ .selected::after {
  width: 100%;
}
#label1:checked ~ .selected::after {
  width: 100%;
}
.proposalFlex{
  display: flex;
  scroll-snap-align: start;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

}
.proposalsContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding: 50px;
  width: 100%;
  margin: 10px 0;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 500px;
 
}
.proposalsContainer::-webkit-scrollbar {
  display: none;
}
.proposalsContainer a {
  text-decoration: underline;
}
.proposals {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  margin: 5px;
  gap: 10px;
  cursor: pointer;
  background-color: #2d646d;
  color: #fff;
  border-radius: 20px;
  scroll-snap-align: start;
}
.yellow {
  color: rgb(251, 255, 0);
}
.green {
  color: rgb(103, 233, 103);
}
.red {
  color: rgb(251, 120, 120);
}
.container button {
  width: 100%;
  height: 2.3em;
  margin: 0.5em;
  background: #fff;
  color: #fff;
  background-color:#10b3af;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.container button:hover {
  color: #fff;
}

.container button:after {
  content: '';
  background: #1e1e1e;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}


.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: auto;
}


@media (max-width: 674px) {
  .proposals {
    flex-direction: column;
  }
  .btns {
    flex-direction: column-reverse;
  }
  .proposalsContainer{
    flex-direction: column;
  }
}

.updatesContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px;
  gap: 20px;
}
.updates{
  display: flex;
  flex-direction: column;
 align-items: flex-start;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  gap: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 20px;
}
.updateSender{
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 30px;
 
}
.updateReceiver{
  background-color: #2d646d;
  border-radius: 20px;
  padding: 10px 30px;
  color: #fff;
  margin-left: auto;
}
.sendContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.from{
  font-weight: 300;
}
 .msg{
  font-weight: 600;
}
.sendContainer input{
  padding: 12px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 230%;
  font-size: 16px;
  background-color: #f4f4f4;
}
.sendContainer button{
  background-color: #1e1e1e;
  color:#10b3af;
}
.sendContainer button:hover{
  background-color: #1e1e1e;
  color:#fff;
}
.updatesHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;gap: 5px;
}
.updatesHeader ul{
  display: flex;
}
.updatesHeader ul li{
  list-style: none;margin: 0 10px;
  cursor: pointer;
  font-weight: 300;
}
.updatesHeader ul li:hover{
  color: #10b3af;
}