.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 15px;
  margin:5px;
  scroll-snap-align: start;
  cursor: pointer;
  background-color: #2d646d;
  color: #fff;
  border-radius: 20px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.headerContainer .price {
  background-color: #f6775a;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}
.circle {
  background-color: #e3e3e3;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  z-index: -1;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
}
.skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.skills div p {
  margin: 0 10px;
  background-color: #e3e3e3;
  color: #1e1e1e;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}
