.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #2d646d;
  color: #fff;
  border-radius: 20px;
  scroll-snap-align: start;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.freelancerDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-transform: capitalize;
}
.freelancerDetails img {
  border-radius: 50%;
  object-fit: cover;
}
.headerContainer .price {
  background-color: #f6775a;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}
.headerContainer .delivery {
  background-color: #10b3af;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
}
.skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.skills div p {
  margin: 0 10px;
  background-color: #e3e3e3;
  color: #1e1e1e;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}
.credits span {
  color: #f6775a;
  font-weight: 800;
  font-size: 30px;
  margin: 0 10px;
}
.desc span {
  color: #f6775a;
  font-weight: 800;
  text-decoration: underline;
}
@media (max-width: 674px) {
  .container {
    width: unset;
    height: unset;
  }
  .headerContainer {
    flex-direction: column;
    gap: 10px;
  }
  .details {
    width: 100%;
    margin: 5px;
    padding: 20px;
  }
}
