.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  height: 500px;
}

.services {
  display: flex;
  padding: 10px;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: flex-start;
  scroll-snap-type: y mandatory;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.services::-webkit-scrollbar {
  display: none;
}
