.banner {
  position: relative;
  background-color: #040404a8;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
}

.banner img {
  object-fit: cover;
  cursor: pointer;
}
.banner h1 {
  font-size: 50px;
}
.add {
  background-color: #e3e3e3;
  color: #10b3af;
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.details {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  text-transform: capitalize;
  position: relative;
  padding: 20px;
}
.details p {
  margin: 10px 0;
}
.user {
  width: 50px;
  height: 50px;
}
.profile {
  position: absolute;
  top: -25px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  object-fit: cover;
  cursor: pointer;
}
.profileClickedContainer {
  position: absolute;
  background-color: #1e1e1ee9;
  width: 100%;
  min-height: 100vh;
  z-index: 111;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.profileClickedContainer .close {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.profileClicked {
  object-fit: cover;
  border-radius: 50%;
}

.hourlyrate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hourlyrate p {
  font-weight: 800;
}
.details span {
  font-weight: 200;
}
.detailsWrapper {
  width: 30%;
  transform: translateY(-80px);
}
.wrapper {
  display: flex;
}
.wrapper .showcase {
  width: 60%;
  background-color: #fff;
  margin: 50px 20px;
  height: 100%;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container button:not(.creditsbtn) {
  width: 100%;
  height: 50px;
  margin: 0.5em;
  background: #2d646d;
  color: #1e1e1e;
  border: none;
  border-radius: 0.625em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;
  padding: 20px 10px;
}
.container button:hover {
  color: #fff;
}

.container button:after {
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container button:hover:after {
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.wrapper .details {
  margin: 20px;
  padding:10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.desc {
  margin: 10px 0;
}
.showcase .options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: -33px;
}
.showcase .options label {
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.selected {
  color: #10b3af;
  font-weight: 800;
  transition: color 0.5 ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.showcase .options label:after {
  content: '';
  width: 0;
  height: 5px;
  background-color: #10b3af;
  transition: 0.5 ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  border-radius: 10px;
}

#portfolioLabel:checked ~ .selected::after {
  width: 100%;
}
#servicesLabel:checked ~ .selected::after {
  width: 100%;
}
.portfolio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  max-height: 600px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.services::-webkit-scrollbar {
  display: none;
}
.portfolio .project {
  background-color: #82d7d6;
  width: 180px;
  height: 100px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  object-fit: cover;
}

.creditsWrapper {
  width: 30%;
  padding: 10px;
 
}
.creditsWrapper button {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: #2d646d;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.creditsWrapper button:hover {
  color: black;
}

.creditsWrapper button:after {
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.creditsWrapper button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.creditsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.creditsWrapper div {
  margin: 10px;
}
.creditsWrapper div:not(.transactions) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  border-radius: 20px;
}
.transactionHeader {
  font-weight: 800;
}
.transactions {
  padding: 5px;
}
.transactions span {
  font-weight: 700;
}
.transactions p {
  margin: 5px 0;
}
.err {
  color: rgb(204, 70, 70);
  padding: 20px;
}
.leftWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proposals{
  display: flex;

}
.proposals div button {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: #2d646d;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.proposals div button:hover {
  color: black;
}

.proposals div button:after {
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.proposals div button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.proposals div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proposals div {
  margin: 5px;
}
.proposals  div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  border-radius: 20px;
}
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .detailsWrapper {
    width: 100%;
  }
  .wrapper .details {
    margin: 0;
  }
  .btns {
    padding: 30px;
  }
  .wrapper .showcase {
    width: 95%;
    transform: translateY(-60px);
  }
  .creditsWrapper {
    width: 100%;
    align-items: stretch;
    transform: translateY(-60px);
  }
}
